@import "./style.scss";
.charge-wrap {
    .list-title {
        font-size: $md-font-size;
        color: $primary-color;
        background: #fff;
        margin-bottom: 1px;
        padding: 0.2rem 0.3rem;
        margin-top: 0.35rem;
    }
    .item-list {
        background: #fff;
        .btn-line {
            width: 100%;
            padding: 0.2rem 0;
            .price-btn {
                float: left;
                display: table;
                width: 2.68rem;
                height: 1rem;
                margin: 0.2rem 0.3rem;
                text-align: center;
                border: 1px solid $border-color;
                border-radius: 4px;
                color: $dark-font-color;
                font-size: $md-font-size;
                .btn-item {
                    display: table-cell;
                    vertical-align: middle;
                    div {
                        line-height: 1;
                    }
                    .donation-price {
                        margin-top: 0.1rem;
                    }
                }
                
            }
            .donation-price {
                font-size: $sm-font-size;
                color: $primary-color;
            }
            .active-btn {
                border-color: $primary-color;
                background: $primary-color;
                color: #fff;
                .donation-price {
                    color: #fff;
                }
            }
        }
    }
    .actual-price {
        background: #fff;
        margin-top: 1px;
        padding: 0.2rem 0.3rem;
        font-size: $md-font-size;
        color: $dark-font-color;
        .actual-price-num {
            float: right;
        }
    }
    .charge-btn {
        width: 90%;
        margin: 0.4rem auto;
        background: $primary-color;
        &:active {
            background: $primary-color;
        }
    }
    .pay-wrap {
        display: flex;
        align-items: center;
        i {
            width: 0.427rem;
            height: 0.427rem;
            display: inline-block;
            margin-right: 6px;
            background-image: url(./images/pay-icon.png);
            background-size: 0.427rem 0.427rem;
            background-position: center center;
            background-repeat: no-repeat;
        }
        background: #fff;
        margin-top: 0.2rem;
        padding: $primary-padding-top $primary-padding-left;
        font-size: $md-font-size;
        color: $dark-font-color;
    }
    .bottom-logo {
        width: 100%;
        height: 0.69rem;
        background-image: url(./images/bottom-logo.png);
        background-repeat: no-repeat;
        background-size: auto 0.69rem;
        background-position: center center;
        position: fixed;
        bottom: 10px;
    }
}